body {
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: auto;
    padding : 20px;
    overflow: hidden;
}
header {
    background: linear-gradient(to_right, #50b3a2, #50b3a2);
    color: #fff;
    padding : 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}
nav {
    margin-top: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}
nav a:hover {
    color: #e9f55f;
}





/*fotter*/
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

footer p {
    margin: 0;
}

/*flash messages*/
.flash.success{color : green;}
.flash.danger{color : red;}
.flash.info{color : blue;}

/*form styles*/
.login-box {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;  
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px; 

}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c0c0;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #4d4ad7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn :hover {
    background-color: blue;
}
.task-box {
    background: #fff;
    max-width: 700px;
    padding: 25px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.task-form {
    display: flex;
    gap : 10px;
    margin-bottom: 20px;
}
.task-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #c5c0c0;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.task-form .btn {
    padding: 10px 20px;
    font-size: 16px;
}

.task-table {
    width: 100%;
    border-collapse: collapse;
}

.task-table th, .task-table td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
}

.task-table th {
    background: #cccaca;
}

.btn-delete {
    background: #e74c3c;
    color: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size :14px;
}

.btn-delete:hover {
    background: #c0392b;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
}

.badge.pending {
    background: #f39c12;
}
.badge.working {
    background: #4c60e4;
}
.badge.done {
    background: #f39c12;
}

.btn-small {
    padding: 6px 12px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    background-color: #4b574c;
    color: #fff;
}
.btn-small:hover {
    background-color: #347934;
}

.btn-clear{
    background-color: #e74c3c;
    margin-bottom: 10px;
}
.btn-clear:hover {
    background-color: #c0392b;
}